docs/n8n-translation-workflow.json
{
  "name": "n8n translation workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-csv",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a061cfeb-bb58-4dd7-a6a0-bd90dcf65d9f",
      "name": "Webhook Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2540,
        80
      ],
      "webhookId": "aad97a86-5707-4d8c-8231-3398f57b2642"
    },
    {
      "parameters": {
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "671a8fb4-bc7f-4d50-859d-ee58b472dec1",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2320,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// CSV 數據結構驗證\nconst items = $input.all();\ntry {\n  if (!items || items.length === 0) throw new Error('CSV 檔案解析失敗：無法讀取檔案內容');\n  const requiredColumns = ['zh-TW','en'];\n  const firstItem = items[0];\n  if (!firstItem.json) throw new Error('CSV 格式錯誤：無法解析數據');\n  for (const column of requiredColumns) {\n    if (!(column in firstItem.json)) throw new Error(`CSV 格式錯誤：缺少必要欄位 ${column}`);\n  }\n  if (items.length < 2) throw new Error('CSV 數據不足：至少需要包含標題行和一行數據');\n  let validRowCount = 0;\n  for (const item of items) {\n    const zhTW = item.json['zh-TW'];\n    const en = item.json['en'];\n    if (zhTW && zhTW.trim() && en && en.trim()) validRowCount++;\n  }\n  if (validRowCount === 0) throw new Error('CSV 數據錯誤：未找到有效的翻譯對');\n  return items;\n} catch (error) {\n  return [{ json: { error: true, message: error.message ?? 'csv 格式錯誤', code: 'CSV_VALIDATION_ERROR' } }];\n}"
      },
      "id": "4441753e-1b30-4653-acec-6754e6422409",
      "name": "Validate CSV Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2100,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "id": "1759194f-5421-4f8d-8353-545dd3f278b1"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "611c52a9-55b0-496f-b49b-135dd869767c",
      "name": "IF CSV Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1880,
        80
      ]
    },
    {
      "parameters": {
        "functionCode": "// 分類翻譯\ntry {\n  const input = items.map(item => item.json);\n  if (!input || input.length === 0) throw new Error('沒有可處理的翻譯數據');\n  const groupMap = new Map();\n  for (const row of input) {\n    if (!row['zh-TW'] || !row['en']) continue;\n    const zh = row['zh-TW'];\n    if (!groupMap.has(zh)) groupMap.set(zh, []);\n    groupMap.get(zh).push(row);\n  }\n  const consistentRows = [], inconsistentRows = [];\n  for (const [zh, rows] of groupMap.entries()) {\n    const enSet = new Set(rows.map(r => r['en']));\n    (enSet.size === 1 ? consistentRows : inconsistentRows).push(...rows);\n  }\n  return [ { json: { rows: consistentRows } }, { json: { rows: inconsistentRows } } ];\n} catch (error) {\n  return [{ json: { error: true, message: `翻譯分類處理錯誤: ${error.message}`, code: 'CLASSIFICATION_ERROR' } }];\n}"
      },
      "id": "142eec5f-e03e-4c2b-a6f7-d922df4917bf",
      "name": "Classify Translations",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1660,
        -40
      ]
    },
    {
      "parameters": {
        "jsCode": "const errorMessage = $input.first().json.message;\nconst errorCode = $input.first().json.code;\n\n// 產生錯誤 HTML\nconst errorHtml = `\n<html>\n  <head>\n    <style>\n      body {\n        font-family: 'Segoe UI', 'Microsoft JhengHei', sans-serif;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        justify-content: center;\n        margin: 0;\n        padding: 0 20px;\n        background-color: #f5f7fa;\n        min-height: 100vh;\n      }\n      .container {\n        text-align: center;\n        max-width: 600px;\n        width: 100%;\n        padding: 30px;\n        background-color: white;\n        border-radius: 12px;\n        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        justify-content: center;\n        box-sizing: border-box;\n      }\n      .error-icon {\n        font-size: 4rem;\n        color: #e74c3c;\n        margin-bottom: 20px;\n      }\n      h2 {\n        color: #e74c3c;\n        margin-bottom: 15px;\n        font-size: 1.8rem;\n      }\n      .error-message {\n        color: #2c3e50;\n        font-size: 1.1rem;\n        line-height: 1.6;\n        margin-bottom: 20px;\n      }\n      .error-code {\n        color: #7f8c8d;\n        font-size: 0.9rem;\n        font-family: monospace;\n        background-color: #ecf0f1;\n        padding: 8px 12px;\n        border-radius: 4px;\n        margin-top: 15px;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"error-icon\">⚠️</div>\n      <h2>處理失敗</h2>\n      <div class=\"error-message\">${errorMessage}</div>\n    </div>\n  </body>\n</html>\n`;\n\nconst parsedHtml = JSON.stringify(errorHtml)\n\n// 回傳 JSON 格式\nreturn [{\n  json: {\n    success: false,\n    html: parsedHtml\n  }\n}];"
      },
      "id": "7f1854a6-fffb-42d2-b82d-9b4a326298b9",
      "name": "Return Error HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1660,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.rows.map(row => ({ json: row }))\n"
      },
      "id": "b8433572-c998-4006-a21e-1f4da14a1a9a",
      "name": "Split Consistent Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "return items[1].json.rows.map(row => ({ json: row }))\n"
      },
      "id": "58654c94-0d02-4467-bc24-880c9719db65",
      "name": "Split Inconsistent Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        80
      ]
    },
    {
      "parameters": {
        "options": {
          "fileName": "consistent.csv",
          "headerRow": true
        }
      },
      "id": "672e2728-9ae9-437b-b153-563bff2a2a41",
      "name": "Convert to Consistent CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        -1220,
        -140
      ]
    },
    {
      "parameters": {
        "options": {
          "fileName": "inconsistent.csv",
          "headerRow": true
        }
      },
      "id": "ffdb0fc5-074d-4f42-a1ee-e8632ecaa1c6",
      "name": "Convert to Inconsistent CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        -1220,
        80
      ]
    },
    {
      "parameters": {},
      "id": "e22f08de-a4ac-4c8b-a2a5-38b2320ff50f",
      "name": "Merge CSV Files",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -1000,
        -40
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 找出含有特定關鍵字的檔案\nconst consistentFile = items.find(item => item.binary?.data?.fileName?.includes('consistent'));\nconst inconsistentFile = items.find(item => item.binary?.data?.fileName?.includes('inconsistent'));\n\n// 解析 CSV 並回傳行數\nconst parseCSVRowCount = (binaryData) => {\n  if (!binaryData || !binaryData.data) return 0;\n  const base64 = binaryData.data;\n  const csvContent = Buffer.from(base64, 'base64').toString('utf-8');\n  const lines = csvContent.split('\\n').filter(line => line.trim().length > 0);\n  return Math.max(0, lines.length - 1); // 減去標題行\n};\n\n// 計算筆數\nconst consistentCount = parseCSVRowCount(consistentFile?.binary?.data);\nconst inconsistentCount = parseCSVRowCount(inconsistentFile?.binary?.data);\nconst totalCount = consistentCount + inconsistentCount;\n\n// 產生下載按鈕 HTML\nconst downloadLinks = items.map(item => {\n  const binaryData = item.binary?.data;\n  const base64 = binaryData?.data || '';\n  const name = binaryData?.fileName || item.json?.fileName || 'unknown.csv';\n\n  // 除錯資訊\n  console.log('Binary data structure:', JSON.stringify(item.binary, null, 2));\n  console.log('Base64 length:', base64.length);\n  console.log('File name:', name);\n\n  return `\n    <div class=\"download-item\">\n      <a href=\"data:text/csv;base64,${base64}\" \n         download=\"${name}\" \n         class=\"download-btn\">\n         下載 ${name}\n      </a>\n    </div>`;\n});\n\n// 組成 HTML 字串\nconst html = `\n<html>\n  <head>\n    <style>\n      body {\n        font-family: 'Segoe UI', 'Microsoft JhengHei', sans-serif;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        justify-content: center;\n        margin: 0;\n        padding: 0 20px;\n        background-color: #f5f7fa;\n      }\n      .container {\n        text-align: center;\n        max-width: 600px;\n        width: 100%;\n        padding: 30px;\n        background-color: white;\n        border-radius: 12px;\n        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        justify-content: center;\n        box-sizing: border-box;\n      }\n      h2 {\n        color: #2c3e50;\n        margin-bottom: 25px;\n        font-size: 1.8rem;\n      }\n      .download-item {\n        margin: 15px 0;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        justify-content: center;\n        width: 100%;\n      }\n      .download-btn {\n        display: inline-block;\n        width: 100%;\n        padding: 12px;\n        background-color: #3498db;\n        color: white;\n        text-decoration: none;\n        border-radius: 8px;\n        font-weight: 600;\n        transition: background-color 0.3s ease;\n      }\n      .download-btn:hover {\n        background-color: #2980b9;\n      }\n      .stats-container {\n        display: none;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div id=\"translation-stats\" class=\"stats-container\"\n           data-total=\"${totalCount}\"\n           data-inconsistent=\"${inconsistentCount}\"\n           data-consistent=\"${consistentCount}\">\n      </div>\n      ${downloadLinks.join('\\n')}\n    </div>\n  </body>\n</html>\n`;\n\nconst parsedHtml = JSON.stringify(html)\n\n// 回傳 HTML 結果與統計資料\nreturn [\n  {\n    json: {\n      parsedHtml,\n      stats: {\n        total: totalCount,\n        inconsistent: inconsistentCount,\n        consistent: consistentCount\n      }\n    }\n  }\n];\n"
      },
      "id": "c781f1d2-a0c4-4de9-bce1-de60953830ea",
      "name": "Generate HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        -40
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n\"html\": {{ $json.parsedHtml }},\n\"stats\": {\n  \"total\":{{ $json.stats.total }},\n  \"inconsistent\":{{ $json.stats.inconsistent }},\n  \"consistent\":{{ $json.stats.consistent }}\n  },\n  \"success\": \"true\"\n}",
        "options": {}
      },
      "id": "6f7b065c-f493-46d7-a559-25ff1b7dca1d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -560,
        -40
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n\"html\": {{ $json.html }},\n\"success\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1440,
        280
      ],
      "id": "1c3942f1-644e-41d4-ab07-932719e5b3ff",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Validate CSV Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate CSV Content": {
      "main": [
        [
          {
            "node": "IF CSV Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF CSV Error": {
      "main": [
        [
          {
            "node": "Classify Translations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Translations": {
      "main": [
        [
          {
            "node": "Split Consistent Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Inconsistent Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Consistent Rows": {
      "main": [
        [
          {
            "node": "Convert to Consistent CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Inconsistent Rows": {
      "main": [
        [
          {
            "node": "Convert to Inconsistent CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Consistent CSV": {
      "main": [
        [
          {
            "node": "Merge CSV Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Inconsistent CSV": {
      "main": [
        [
          {
            "node": "Merge CSV Files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge CSV Files": {
      "main": [
        [
          {
            "node": "Generate HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Error HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Upload": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2af3b96e-5897-4cc6-849f-ab1624fa58a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e9d16dc3fe413da898e49c0cf2354188b8e843a78a294f552f634cc74d7a007"
  },
  "id": "78x0jGHlwO1IktI9",
  "tags": []
}